<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.osik.autyzm">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".helpers.MyApp"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".dzieci.DzieciDetailsActivity" />
        <activity android:name=".dzieci.DzieciStatisticsActivity" />
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".lekcje.LekcjeTytulActivity" />
        <activity android:name=".lekcje.LekcjeModulActivity" />
        <activity android:name=".lekcje.nowy_modul.PlikActivity" />
        <activity android:name=".lekcje.nowy_modul.PytaniaActivity" />
        <activity
            android:name=".uruchom.modul.ModulMediaActivity"
            android:parentActivityName=".main.MainActivity" />
        <activity android:name=".uruchom.modul.ModulPytaniaActivity" />
        <activity android:name=".uruchom.modul.PodsumowanieActivity" />
        <activity android:name=".uruchom.WyborDzieckaActivity" />
        <activity android:name=".helpers.FilePickerActivity" />
        <activity android:name=".multimedia.PickerActivity" />
        <activity android:name=".multimedia.ShowMediaActivity" />
        <activity android:name=".multimedia.PlayerActivity"></activity>
    </application>

</manifest>
